<!DOCTYPE html>

<html lang ="pt-br">
    <head>
        <meta charset="utf-8">
        <title>Meu Blog</title>
    </head>
    <body>
        <h1>Bem-vindo ao Meu Blog</h1>
        <ul>
            <a href="{% url 'add_reporter' %}">Adicionar reporter</a>
        </ul>
        <ul>
            <a href="{% url 'add_post' %}">Adicionar post</a>
        </ul>
        <ul>
            <a href="{% url 'add_artigo' %}">Adicionar artigo</a>
        </ul>
        <ul>
            <a href="{% url 'add_livro' %}">Adicionar livro</a>
        </ul>
        <ul>
            <a href="{% url 'add_autor' %}">Adicionar reporter</a>
        </ul>
    </body>
</html>